@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background-primary: #050505;
  --color-background-secondary: #0f0f10;
  --color-background-tertiary: #19191a;

  --color-content-body: #cdcbcc;
  --color-content-placeholder: #827d7f;
  --color-content-headline: #b2b2b2;

  --color-border-primary: #19191a;
  --color-border-secondary: #323234;
  --color-border-tertiary: #97979b;

  --color-accent-purple: #4b2dbb;
  --color-accent-green: #87bb2d;
  --color-accent-pink: #b5446b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
